* {
    box-sizing: border-box;
}

html, body{
  margin: 0px auto;
  padding:0px 10px;
  font-size: 20px;
  background:#FFFFFF none repeat scroll 0 0;
  color:#61687C;
  line-height: 1.5em;
  font-family: "Noto Serif",Georgia,Cambria,"Times New Roman",Times,serif;
}

.container {
  margin: 0px auto;
  max-width: 80%;
}

.content {
  margin: 0px auto;
  max-width: 80%;
}

a {color: #2D8CF0; text-decoration: none;}
a:hover{text-decoration: underline; color: #555;}
strong{font-weight: 800; color: #555;}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.25;
  color:#555;
  cursor: text;
  position: relative;
  margin: 10px 0 10px;
  padding: 0; }

h1 {font-size: 2em;padding-bottom: 0.2em; font-weight: 600;}
h2 {font-size: 1.5em;padding-bottom: 0.2em;margin: 16px 0px;}
h3 {font-size: 1.25em;font-weight:600; margin: 16px 0px;}
h4 {font-size: 1em;font-weight:600;margin: 16px 0px;}
h5 {font-size: 0.875em;margin: 16px 0px;}
h6 {font-size: 0.85em;margin: 16px 0px;}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color:#444;
}

p, blockquote, table, pre {margin: 15px 0; }
ul {padding-left: 30px; }
ol {padding-left: 30px; }ol li ul:first-of-type {margin-top: 0px; }

hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e7e7e7;
    border: 0; 
    overflow: hidden;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ul li > :first-child, ol li > :first-child {
  margin-top: 0; }
dl {
  padding: 0; }
dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px; }
dl dt:first-child {
 padding: 0; }
dl dt > :first-child {
  margin-top: 0; }
dl dt > :last-child {
  margin-bottom: 0; }
dl dd {
  margin: 0 0 15px;
  padding: 0 15px; }
dl dd > :first-child {
  margin-top: 0; }
dl dd > :last-child {
  margin-bottom: 0; }
blockquote {
  border-left: 0.25em solid #ddd;
  padding: 0 1em;
  color: #777; }
blockquote > :first-child {
  margin-top: 0; }
blockquote > :last-child {
  margin-bottom: 0; }
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit; }
table th {
  font-weight: 800;
  border: 1px solid #ccc;
  background: #fffdf7;
  padding: 6px 13px; }
table td {
  border: 1px solid #ccc;
  padding: 6px 13px; }
table tr {
  border-top: 1px solid #ccc;
  background-color: #fff; }
table tr:nth-child(2n) {background-color: #fdfdfd; }
tbody tr:hover {background-color: #fffffd;}
img {max-width: 80%;border:0px; margin:0px auto; display: block;}
img:hover {opacity: 0.85;}
code, tt {
  padding: 0.1em;
  margin: 0px 3px;
  white-space: nowrap;
  border: 1px solid #e7eaed;
  background-color: #fdfdfd;
  border-radius: 6px;
}
pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
  font-family: 'Courier New', "Noto Serif",Georgia,Cambria,"Times New Roman",Times,serif;
}
pre {
  background-color: #fdfdfd;
  padding: 16px;
  overflow: auto;
  border-radius: 12px;
  margin-top: 0;
  word-wrap: normal;
  line-height: 1.2em;
}

pre code, pre tt {
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    border: 0;
}

pre:hover{background-color: #ebf7ffa8;}

sup, sub, a.footnote {font-size: 1.4ex;height: 0;line-height: 1;vertical-align: super;position: relative;}
sub {vertical-align: sub;top: -1px; }
img, pre, blockquote, table { page-break-inside: avoid; }
pre code {overflow: visible; }
li::selection, ol::selection { background-color: rgba(133, 201, 232, 0.3); }
pre::selection, code::selection {background-color: rgba(0, 0, 0, 0.7);color: #eeeeee; }
code span::selection {background-color: rgba(0, 0, 0, 0.7) !important;color: #eeeeee !important; }
#left-sider, #right-sider{float: left;width:50%;min-width: 256px;}

#footer{clear:both;
    padding-bottom:10px;
    margin-top:5px;
    color:#999;
    border: 0; 
    font-size:16px;
    width: 100%;
    line-height: 30px;
}
#footer ul{padding:0px;}
#footer li{list-style: none;}
#top{
  display: none;
}

@media (min-width: 1200px) {
  #top{	position: fixed;
    display: block;
    bottom: 0px;
    right: 10px;
    z-index: 1000;
  }
}
nav {display: none;}
@media (min-width: 1200px) {
  nav{
    width:280px;
    display: block;
    position: fixed;
    left: 0px;
    z-index: 1000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    top:80px;
    bottom: 50px;
    overflow: auto;
  }
}

.title{font-weight:500;font-size:3em;width:100%;margin-bottom:0px;border:0px;padding-left: 10px;}
.content > .title{margin-left: -24px; text-align: center;}
.title:hover {color: #444;}
.eof{padding: 0 10px;float:left;margin-bottom:20px;color:#aaa;}
.eof_arrow{float:right;}
.eof_tag{padding: 0 10px;text-align:right;float:right;}
.title_arrow_back{width:25px;height:25px;float:right;margin-top:-30px;margin-right: 2px;}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

@media (max-width: 960px) {
  html, body{font-size: 16px;}
  h1{font-size: 1.5em;}
  h2{font-size: 1.25em}
  h3{font-size: 1em;}
  .title{font-size:2em;}
  #footer{font-size: 0.85em;}
  .container {
    margin: 0px auto;
    max-width: 100%;
  }
  .content {
    margin: 0px auto;
    max-width: 100%;
  }
  #right-sider {
    clear:both;
    float: left;
    width: 100%;
  }
  #left-sider {
    width: 100%;
  }
}